name: Build and Push Docker Image

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version tag from FastBCP (ex: v0.28.0)'
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Download FastBCP binary from S3
        run: |
          set -eux
          VERSION='${{ github.event.inputs.version }}'
          FILE="FastBCP-linux-x64-${VERSION}.zip"
          S3_PATH="s3://aetpshared/FastBCP/full/${FILE}"

          aws s3 ls "${S3_PATH}" >/dev/null
          aws s3 cp "${S3_PATH}" FastBCP.zip

          unzip FastBCP.zip -d ./FastBCP_extracted
          rm FastBCP.zip

          mv ./FastBCP_extracted/FastBCP ./FastBCP
          chmod +x ./FastBCP

      - name: Log in to Docker Hub (push)
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to DHI registry (dhi.io)
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login dhi.io \
            -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      # Optionnel mais très utile pour debug
      # - name: Test pull Debian HDI
      #   run: docker pull dhi.io/debian-base:trixie

      - name: Build Docker image
        run: |
          set -eux
          VERSION='${{ github.event.inputs.version }}'
          docker build --no-cache \
            -t aetp/fastbcp:latest \
            -t aetp/fastbcp:${VERSION} .

      - name: Smoke test
        run: |
          set -eux
          docker run --rm aetp/fastbcp:latest >/dev/null
          echo "✅ FastBCP runs"

      - name: Push Docker image
        run: |
          set -eux
          VERSION='${{ github.event.inputs.version }}'
          docker push aetp/fastbcp:latest
          docker push aetp/fastbcp:${VERSION}
